body {
	margin: 0;
}

input,
textarea {
	padding: 0;
	margin: 0;
	background: none;
	outline: none;
}
select{
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: 500;
}
ul,
ol,
dl,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}
.footer {
	background: #222;
	height: 240px;
	padding-top: 52px;
	color: #fff;
	box-sizing: border-box;
	/* min-width: 1680px; */
}

.footer-container {
	/* width: 1680px; */
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 90px;
}

.footer-logo>a,
.footer-logo img {
	display: block;
	width: 100%;
}

.footer-text {
	margin-top: 28px;
}

.footer-text>p {
	font-size: 14px;
	line-height: 30px;
}

.footer-ma>ul {
	display: flex;
}

.footer-ma>ul>li {
	width: 80px;
	height: 114px;
	margin-right: 20px;
}

.footer-ma>ul>li>img{
	display: block;
	width: 100%;
}

.footer-ma>ul>li>p {
	text-align: center;
	line-height: 34px;
	font-size: 14px;
}

.footer-ma>ul>li:last-of-type {
	margin: 0;
}
.container {
	width: 1280px;
	height: 100%;
	margin: auto;
}

.header {
	box-sizing: border-box;
	min-width: 1300px;
	border-bottom: solid 1px #ddd;
}

.h-top {
	width: 1280px;
	margin: auto;
	height: 80px;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
}

.header a {
	color: #333;
	font-size: 14px;
}


.h-logo,
.h-logo>a,
.h-logo img {
	display: block;
	height: 60px;
	width: 140px;
}

.h-nav {
	display: flex;
	height: 100%;
}

.h-nav>li {
	height: 100%;
}

.h-nav a {
	display: block;
	line-height: 80px;
	padding: 0 20px;
}

.h-nav a:hover {
	color: #00923F;
}


.h-language>a {
	margin-right: 10px;
	font-size: 12px;
	line-height: 16px;
}

.h-language>a:last-of-type {
	margin: 0;
}

.nav {
	padding-top: 12px;
	padding-bottom: 72px;
	height: 24px;
}

.nav a {
	color: #999;
	font-size: 14px;

}

.nav span {
	margin: 0 5px;
}

.body-title {
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	padding-bottom: 30px;
	color: #333;
	font-weight: bold;
}

.body-visits {
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}

.body-visits>span {
	color: #933C45;
}

.body-item>p {
	font-size: 16px;
	line-height: 24px;
	color: #666;
	margin-bottom: 30px;
}

.body-item>a,
.body-item img {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

.body-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 30px;
	border-bottom: 1px solid #DDDDDD;
}

.body-tb {
	margin-top: 30px;
	margin-bottom: 60px;
}

.body-tb>p {
	line-height: 30px;
	font-size: 16px;
	color: #555;
}
.footer{
	
	min-width: 1256px !important;
}

.footer-container{
	width: 90%;
}
/*移动*/
@media screen and (max-width:750px) {
	.h-top{
		height: 50px;
	}
	.h-nav a{
		line-height: 50px;
	}
	.h-logo{
		margin-left: 0%;
	}
	.h-logo, .h-logo>a, .h-logo img{
		width: 50px;
		height: 40px;
	}
	.h-nav a{
		padding: 0 5px;
		white-space: nowrap;
	}
	.h-nav{
		/* justify-content: space-between; */
	}
	.h-language{
		margin-right: 0;
		display: none;
	}
	.header{
		min-width: 0;
		width: 100%;
	}
	.h-top{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.footer{
		width: 100%;
		min-width: 0 !important;
	}
	p{
		padding: 0 15px;
	}
}